[Unit]
Description=Transmission Download Exporter Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/docking-station
ExecStart=/root/inotify-receiver.sh

[Install]
WantedBy=multi-user.target
